{% include "partials/head.html" %}
<body>
<div class="body-cont" id="body-cont">
<div class="top_sections">
{% include "partials/header.html" %}
{% include "partials/hero_screen.html" %}
</div>
{% include "partials/features.html" %}
{% include "partials/product_presentation.html" %}
{% include "partials/build_website.html" %}
{% include "partials/additional_features.html" %}
{% include "partials/additional_product_presentation.html" %}
{% include "partials/platform_features.html" %}
{% include "partials/quotes.html" %}
{% include "partials/gallery.html" %}
{% include "partials/join_us.html" %}
{% include "partials/prices.html" %}
{% include "partials/footer.html" %}
</div>

{% include "partials/page-end.html" %}