<div class="additional_product_presentation">
 <div class="additional_product_presentation__inner container_extra_large clearfix">
  <div class="additional_product_presentaion_message">
   <h2 class="message_title animated fast">
    This will change
    everything 
   </h2>
   <p class="message_descr animated fast">
    Your eCommerce website is just the start. whether you are
    an established business or on the brink of a new idea,
    Squarespace gives you the tools to take your business from
    online store to recognized brand.
   </p>
   <button class="btn btn_secondary animated fast">
    Get started
   </button>
  </div>
  <div class="additional_product_presentaion_carousel animated fast">
   <div class="carousel_item item_first">
    <div class="item_image">
      <div class="preview">
       <img src="img/content/iPad_img.png" width="162" height="144" alt="carousel_image">
      </div>
     </div>
    </div>
    <div class="carousel_item item_second">
     <div class="item_image">
      <div class="preview">
       <img src="img/content/iPad_img.png" width="162" height="144" alt="carousel_image">
      </div>
     </div>
    </div>
    <div class="carousel_item item_third">
     <div class="item_image">
      <div class="preview">
       <img src="img/content/iPad_img.png" width="162" height="144" alt="carousel_image">
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>