<div class="additional_features">
 <div class="additional_features__inner container">
  <div class="additional_features_listing">

   <div class="listing_item first_item animated fast">
    <h3 class="item_title">
     Dummy Content
    </h3>
    <p class="item_text">
     Can make website design much
     easier and with our shortcode
     manager you can now create
     them even faster. Choose your
     desired shortcode and the 
     manager will insert it for you.
    </p>
    <button class="btn btn_third">
     Learn more
    </button>
   </div>

   
   <div class="listing_item second_item animated fast">
    <h3 class="item_title">
     Parallax Sections
    </h3>
    <p class="item_text">
     You can create as many sections
     as you like, with or without
     paralaxx, it's up to you! Brooklyn
     does not limit your imagination,-
     see our 8 demos.
    </p>
    <button class="btn btn_third">
     Learn more
    </button>
   </div>

   
   <div class="listing_item last_item animated fast">
    <h3 class="item_title">
     Clean Code
    </h3>
    <p class="item_text">
     Brooklyn has been built with the
     latest submission requirements
     based on the WordPres Codex,
     everything is working as
     intended.
    </p>
    <button class="btn btn_third">
     Learn more
    </button>
   </div>


  </div>
 </div>
</div>