<div class="features">
 <div class="features__inner container">
  <div class="features_listing">

   <div class="features_listing_item features_item_first animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/mail.jpg" width="60" height="46" alt="logo">     
     </div>
     </div>
     <h3 class="item_message">
      Get a customized
      email address and more 
     </h3> 
     <p class="message_descr">
      Looking cautiously round, to ascer-
      tain that they were not overhead,
      the two hags cowered nearer to the 
      fire, and chuckled heartily.
     </p>
     <button class="btn btn_third">
      Learn more
     </button>
    </div>

    <div class="features_listing_item features_item_second animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/edit.jpg" width="60" height="60" alt="logo">     
     </div>
     </div>
     <h3 class="item_message">
      40 million high 
      quality images 
     </h3> 
     <p class="message_descr">
      At first for some time, I was not able to
      answer him one word; but as he had
      taken me in his arms I held fast by him,
      or I should have fallen to the ground.
     </p>
     <button class="btn btn_third">
      Learn more
     </button>
    </div>

    <div class="features_listing_item features_item_last animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/card.jpg" width="60" height="43" alt="logo">     
     </div>
     </div>
     <h3 class="item_message">
      Creat a simple logo <strong class="message_tip"> New </strong>
     </h3> 
     <p class="message_descr">
      She gave my mother such a turn,
      that I have always been convinced I
      am indebted to Miss Betsey for 
      having been born on a Friday.
     </p>
     <button class="btn btn_third">
      Get started
     </button>
    </div>
   </div>
  </div>
 </div>