<footer class="footer">
 <div class="footer__inner container">
  <h2 class="footer_title animated fast">
   This will change
   <strong>Everything</strong>
   <img src="img/content/footer_text.png" alt="footer_header" width="657" height="68">
  </h2>
  <div class="footer_entry clearfix">
   <div class="entry_logo animated fast">
    <div class="preview">
    <a href="index.html" target="_self" title="logo">
     <img src="img/content/footer_logo.png" width="33" height="30" alt="footer logo">
    </a> 
    </div>
   </div>
   <ul class="entry_listing animated fast">
    <li class="listing_item">
     <a href="#" title="Pages" target="_self">
      Pages
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Elements" target="_self">
      Elements
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Product" target="_self">
      Product
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Blog" target="_self">
      Blog
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Work" target="_self">
      Work
     </a>
    </li>
   </ul>
     <ul class="entry_listing animated fast">
    <li class="listing_item">
     <a href="#" title="Support" target="_self">
      Support
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Answers" target="_self">
      Answers
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Workshops" target="_self">
      Workshops
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Specials" target="_self">
      Specials
     </a>
    </li>
   </ul>
     <ul class="entry_listing animated fast">
    <li class="listing_item">
     <a href="#" title="Terms of use" target="_self">
      Terms of use
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Privacy Policy" target="_self">
      Privacy Policy
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Contacts" target="_self">
      Contacts
     </a>
    </li>
    <li class="listing_item">
     <a href="#" title="Abous Us" target="_self">
      About Us
     </a>
    </li>
   </ul>
   <div class="entry_author animated fast">
    <span class="author_text">
     Made By
    </span>
    <div class="author_img">
     <div class="preview">
      <a href="#" title="Craft Work" target="_blank">
       <img src="img/content/author_logo.png" width="118" height="38" alt="author logo">
      </a> 
     </div>
    </div>
   </div>
   <div class="entry_social_group animated fast">
    <span class="social_group_text">
     <a href="https://craftwork.design/" title="craft work" target="_blank">
      www.getcraftwork.com
     </a>
    </span>
    <ul class="social_group_listing">
     <li class="listing_item">
      <a href="https://twitter.com/" title="twitter">
       <i class="fab fa-twitter">
       </i>
      </a>
     </li>
     <li class="listing_item">
      <a href="https://www.facebook.com/" title="facebook">
       <i class="fab fa-facebook-f">
       </i>
      </a>
     </li>
     <li class="listing_item">
      <a href="https://www.behance.net/" title="behance">
       <i class="fab fa-behance">
       </i>
      </a>
     </li>
     <li class="listing_item">
      <a href="https://dribbble.com/" title="behance">
       <i class="fab fa-dribbble">
       </i>
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
</footer>