<div class="gallery">
 <div class="gallery__inner">
  <h2 class="gallery_title animated fast">
   Do it by yourself
  </h2>
  <div class="gallery_carousel carousel" pause-on-hover="false">
  
   <div class="carousel_item">
    <div class="item_image first_image animated fast" onclick="this.focus()">
     <img src="img/content/pc_img.jpg" width="209" height="420" alt="landscape">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/pc_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image second_image animated fast" onclick="this.focus()">
     <img src="img/content/guy_img.jpg" width="304" height="420" alt="guy">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/guy_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image third_image animated fast" onclick="this.focus()">
     <img src="img/content/mountain_img.jpg" width="632" height="420" alt="mountain">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/mountain_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image fourth_image animated fast" onclick="this.focus()">
     <img src="img/content/landscape_img.jpg" width="960" height="200" alt="landscape">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/landscape_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image fifth_image animated fast" onclick="this.focus()">
     <img src="img/content/birds_img.jpg" width="174" height="420" alt="landscape">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/birds_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image sixth_image animated fast" onclick="this.focus()">
     <img src="img/content/machu_picchu_img.jpg" width="468" height="420" alt="machu picchu">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/machu_picchu_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>
    <div class="item_image last_image animated fast" onclick="this.focus()">
     <img src="img/content/warehouse_img.jpg" width="468" height="420" alt="warehouse">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/warehouse_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>
   </div>

   <div class="carousel_item"> 
    <div class="item_image second_image" onclick="this.focus()">
     <img src="img/content/guy_img.jpg" width="304" height="420" alt="guy">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/guy_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image third_image" onclick="this.focus()">
     <img src="img/content/mountain_img.jpg" width="632" height="420" alt="mountain">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/mountain_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image fourth_image" onclick="this.focus()">
     <img src="img/content/landscape_img.jpg" width="960" height="200" alt="landscape">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/landscape_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>  
    <div class="item_image sixth_image" onclick="this.focus()">
     <img src="img/content/machu_picchu_img.jpg" width="468" height="420" alt="machu picchu">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/machu_picchu_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>
    <div class="item_image last_image" onclick="this.focus()">
     <img src="img/content/warehouse_img.jpg" width="468" height="420" alt="warehouse">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/warehouse_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>
   </div>

   <div class="carousel_item"> 
    <div class="item_image second_image" onclick="this.focus()">
     <img src="img/content/guy_img.jpg" width="304" height="420" alt="guy">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/guy_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image third_image" onclick="this.focus()">
     <img src="img/content/mountain_img.jpg" width="632" height="420" alt="mountain">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/mountain_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image fourth_image" onclick="this.focus()">
     <img src="img/content/landscape_img.jpg" width="960" height="200" alt="landscape">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/landscape_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div> 
    <div class="item_image sixth_image" onclick="this.focus()">
     <img src="img/content/machu_picchu_img.jpg" width="468" height="420" alt="machu picchu">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/machu_picchu_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>
    <div class="item_image last_image" onclick="this.focus()">
     <img src="img/content/warehouse_img.jpg" width="468" height="420" alt="warehouse">
     <div class="overlay">
     </div>
     <a data-fancybox="gallery" href="img/content/warehouse_img.jpg" title="demo">
     <button class="btn btn_fourth">
       View Demo
     </button>
     </a>
    </div>
   </div>

  </div>
 </div>
</div>