<div class="header">
 <div class="header__inner container">

  <div class="left_part animated fast">
   <div class="header_logo">
    <div class="preview">
    <a href="index.html" target="_self" title="logo">
     <img src="img/content/logo.png" width="33" height="30" alt="logo">
    </a> 
    </div>
   </div>
  </div>

  <div class="header_main_nav animated fast">
   <ul class="nav_listing">
    <li class="listing_item">
     <a class="activeNavitem" href="index.html" title="Home" target="_self">
     Home
     </a>
    </li>
    <li class="listing_item pages">
     <a title="Pages" target="_self">
     Pages
     </a>
     <div class="subnav animated fast fadeInUp">
      <ul class="subnav_listing">
       <li class="listing_item">
        <a title="About Us" target="_self">
         About Us
        </a>
       </li>
       <li class="listing_item">
        <a title="Company" target="_self">
         Company
        </a>
       </li>
       <li class="listing_item">
        <a title="Our Process" target="_self">
         Our Process
        </a>
       </li>
       <li class="listing_item">
        <a title="Services" target="_self">
         Services
        </a>
       </li>
       <li class="listing_item">
        <a title="Contact Us" target="_self">
         Contact Us
        </a>
       </li>
       <li class="listing_item">
        <a title="F.a.q." target="_self">
         F.a.q.
        </a>
       </li>
      </ul>
     </div>
    </li>
    <li class="listing_item elements">
     <a title="Elemnets" target="_self">
     Elements
     </a>
     <div class="subnav animated fast fadeInUp">
      <ul class="subnav_listing">
       <li class="listing_item">
        <a title="Element_item" target="_self">
         Element1
        </a>
       </li>
       <li class="listing_item">
         <a title="Element_item" target="_self">
         Element2
        </a>
       </li>
       <li class="listing_item">
        <a title="Element_item" target="_self">
         Element3
        </a>
       </li>
       <li class="listing_item">
         <a title="Element_item" target="_self">
         Element4
        </a>
       </li>
       <li class="listing_item">
         <a title="Element_item" target="_self">
         Element5
        </a>
       </li>
       <li class="listing_item">
        <a title="Element_item" target="_self">
         Element6
        </a>
       </li>
      </ul>
     </div>
    </li>
    <li class="listing_item">
     <a title="Product" target="_self">
     Product
     </a>
    </li>
    <li class="listing_item">
     <a title="Blog" target="_self">
      Blog
     </a>
    </li>
    <li class="listing_item">
     <a title="Work" target="_self">
      Work
     </a>
    </li>
   </ul>
  </div>

  <button class="btn header_btn animated fast">
     Start a project
    </button>

   <div class="right_part animated fast">
   <div class="burger_desktop">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
   </div>
    <div class="burger_mobile">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
   </div>

   <div class="burger_desktop__contacts animated fast fadeInDown">
      <ul class="contacts_listing">
       <li class="listing_item">
        <a title="Element_item" target="_self">
         Contacts
        </a>
       </li>
       <li class="listing_item">
         <a title="Element_item" target="_self">
         FAQ
        </a>
       </li>
       <li class="listing_item">
        <a title="Element_item" target="_self">
         Element3
        </a>
       </li>
       <li class="listing_item">
         <a title="Element_item" target="_self">
         Element4
        </a>
       </li>
       <li class="listing_item">
         <a title="Element_item" target="_self">
         Element5
        </a>
       </li>
       <li class="listing_item">
        <a title="Element_item" target="_self">
         Element6
        </a>
       </li>
      </ul>
   </div>
  </div>
 </div>
</div>