<div class="platform_features">
 <div class="platform_features__inner container">
  <div class="platform_features_message">
   <div class="message_entry">
    <h3 class="entry_title animated fast">
     Platform features
    </h3>
    <span class="entry_text animated fast">
     At first, for some time, I was not able to answer him a word; but as he had taken me in his
     arms I held fast by him, or I should have fallen to the ground.
    </span>
   </div>
  </div>
  <div class="platform_features_listing">
   <div class="listing_item animated fast">
    <div class="item_image">
     <div class="preview">
     <img src="img/content/gouge.png" width="60" height="60" alt="gouge">
    </div>
   </div>
    <div class="item_content">
     <h2 class="item_title">
     Dashboard
     </h2>
     <p class="item_text">
     Looking cautiously round, to
     ascertain that they were not
     overhead, the two hags
     cowered nearer to the fire,
     and chuckled heartily.
     </p> 
    </div>
   </div>

   <div class="listing_item animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/chat.png" width="60" height="60" alt="chat">
     </div>
    </div>
    <div class="item_content">
     <h2 class="item_title">
     Discussions
    </h2>
     <p class="item_text">
     This I have produced as a
     scantling of Jack's great
     eloquence and the force of
     his reasoning upon such
     abstruse matters.
     </p> 
    </div>
   </div>

  <div class="listing_item animated fast">
   <div class="item_image">
    <div class="preview">
     <img src="img/content/phone.png" width="38" height="60" alt="phone">
    </div>
   </div>
   <div class="item_content">
    <h2 class="item_title">
     Mobile Apps
    </h2>
    <p class="item_text">
    This sounded a very good 
    reason, and Alice was quite
    pleased to know it. 'I never
    thought of that before!' she
    said.
    </p>
    </div> 
   </div>

   <div class="listing_item animated fast">
    <div class="item_image">
     <div class="preview">
     <img src="img/content/adjustments.png" width="60" height="60" alt="adjustments">
    </div>
   </div>
   <div class="item_content">
    <h2 class="item_title">
     Fully Customizable
    </h2>
    <p class="item_text">
     She gave my mother such a 
     turn, that I have always been
     convinced I am indebted to
     Miss Betsey for having been
     born on a Friday.
     </p> 
    </div>
   </div>

   <div class="listing_item animated fast">
    <div class="item_image">
     <div class="preview">
      <img class="cart" src="img/content/cart.png" width="60" height="45" alt="cart">
    </div>
   </div>
    <div class="item_content">
    <h2 class="item_title">
    Ecommerce
    </h2>
    <p class="item_text">
    It was time before he
    obtained any answer, and
    the reply, when made, was
    unpropitious.
    </p> 
    </div>
   </div>

   <div class="listing_item animated fast">
    <div class="item_image">
     <div class="preview">
     <img src="img/content/chart.png" width="55" height="55" alt="chart">
    </div>
   </div>
    <div class="item_content">
    <h2 class="item_title">
    Statistics
    </h2>
    <p class="item_text">
    Thus much I thought proper
    to tell you in relation to
    yourself, and to the trust I
    reposed in you.
    </p> 
   </div>
   </div>
  </div>
 </div>
</div>