<div class="prices">
 <div class="prices__inner container">
  <div class="prices_listing">

   <div class="listing_item animated fast" onclick="this.focus()">
    <h3 class="item_title">
     Beginner
    </h3>
    <span class="item_price">
     $4.99
    </span>
    <p class="item_text">
     Alice wondered a little at this
     but she was too much in awe of 
     the Queen to disbelieve it. 'I'll try
     it when I go home.' she thought 
     to herself. 'the next time I'm a 
     little late for dinner.'
    </p>
    <button class="item_button btn btn_secondary">
     Get Started
    </button>
   </div>

    <div class="listing_item animated fast highlightedListingItem" onclick="this.focus()">
    <h3 class="item_title">
     Standard
    </h3>
    <span class="item_price">
     $14.99
    </span>
    <p class="item_text">
     You can create as many sections
     as you like, with or without
     paralaxx, it;s up to you! Brooklyn
     does not limit your imagination,- 
     see our 8 demos.
    </p>
    <button class="item_button btn btn_secondary">
     Get Started
    </button>
   </div>

    <div class="listing_item animated fast" onclick="this.focus()">
    <h3 class="item_title">
     Pro
    </h3>
    <span class="item_price">
     $99.99
    </span>
    <p class="item_text">
     Now races of these two have 
     been for some ages utterly
     extinct, and besides to discourse
     any further of them would not be 
     at all to my purpose.
    </p>
    <button class="item_button btn btn_secondary">
     Get Started
    </button>
   </div>
  </div>
 </div>
</div>