<div class="product_presentation">
 <div class="product_presentation__inner container_large">
  <div class="product_presentation_carousel animated fast">
   <div class="carousel_item first_item">
    <div class="item_image">
    <div class="preview">
     <img src="img/content/device_img.png" width="98" height="79" alt="carousel image"> 
    </div>
    </div>
   </div>
   <div class="carousel_item second_item">
    <div class="item_image">
    <div class="preview">
     <img src="img/content/device_img.png" width="98" height="79" alt="carousel image"> 
    </div>
    </div>
   </div>
    <div class="carousel_item third_item">
    <div class="item_image">
    <div class="preview">
     <img src="img/content/device_img.png" width="98" height="79" alt="carousel image"> 
    </div>
    </div>
   </div>
  </div>

  <div class="product_presentation_banner">
   <div class="banner_item first_banner_item animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/oven.jpg" width="60" height="60" alt="oven">
     </div>
    </div>
    <h3 class="item_message">
    Create a beautiful
    website.
    </h3>
    <p class="message_descr">
     Whether you want to create a
     blog, eCommerce store, portfo-
     lio, or all of the above, you can
     express your idea with a website
     powered by our elegant yet intu-
     itive platform.
    </p>
   </div>
   <div class="banner_item second_banner_item animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/briefcase.jpg" width="60" height="60" alt="oven">
     </div>
    </div>
    <h3 class="item_message">
     Make your own business.
    </h3>
    <p class="message_descr">
     From goods to services, every
     business needs a space online to
     bring in customers.
    </p>
   </div>
   <div class="banner_item third_banner_item animated fast">
    <div class="item_image">
     <div class="preview">
      <img src="img/content/edit.jpg" width="60" height="60" alt="oven">
     </div>
    </div>
    <h3 class="item_message">
     Be artist.
    </h3>
    <p class="message_descr">
     An artist should always have
     control over their creative
     process.
    </p>
   </div>
  <button class="btn banner_btn animated fast">
   Get Started
  </button>
  </div>
 </div>
</div>