<div class="quotes">
 <div class="quotes__inner">
  <div class="quotes_carousel carousel animated fast" pause-on-hover="false">
   <div class="carousel_item">
    <cite class="item_cite">
     This I have produced as a scantling 
     of Jack's greate loquence and the 
     force of his reasoning upon such
     abstruse matters.
    </cite>
    <span class="item_author">
     Dr Jonathan Swift
    </span>
   </div>
   <div class="carousel_item">
    <cite class="item_cite">
     It was some time before he
     obtained any answer,
     and the reply, when made,
     was unpropitious.
    </cite>
     <span class="item_author">
     Sir Walter Scott
    </span>
   </div>
   <div class="carousel_item">
    <cite class="item_cite">
     She gave my mother such a turn, 
     that I have always been convinced 
     I am indebted to Miss Betsey for 
     having been born on a Friday.
    </cite>
     <span class="item_author">
     Charles Dickens
    </span>
   </div>
  </div>
 </div>
</div>

